<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">

<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <template is="dom-if" if="{{cargando}}">
      <paper-spinner active="{{cargando}}" class="green"></paper-spinner>
      <h2>Cargando...</h2>
    </template>
    <ul>
      <template is="dom-repeat" items="[[handleResponse]]" as="usuario">
        <li>{{usuario.name}}</li>
      </template>
    </ul>
    <!-- <h3>{{handleResponse}}</h3> -->
    <iron-ajax
    auto
    url = "https://jsonplaceholder.typicode.com/users/"
    handle-as="json"
    last-response="{{handleResponse}}">
    </iron-ajax>

  </template>

  <script>
    /**
     * `datamanager-element`
     * Data Manager API
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          prop1: {
            type: Object,
            value: () => {return{}},
            observer: '_success'
          },
          cargando: {
            type: Boolean,
            value: true
          }
        };
      }
      _success(e) {
        this.cargando = false
        // console.log("Entro a Success");
      }
    }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>
